<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KyoHK Comicbook rename tool</title>
</head>
<body>

<p>德州扑克算牌器</p>

<form action="/" method="POST">

    <div> 
        <img src="9.png">
        <input type="radio" name="c_9" value="0" checked="checked" />不用
        <input type="radio" name="c_9" value="1" />手牌
        <input type="radio" name="c_9" value="2" />公牌
        <img src="10.png">
        <input type="radio" name="c_10" value="0" checked="checked" />不用
        <input type="radio" name="c_10" value="1" />手牌
        <input type="radio" name="c_10" value="2" />公牌
        <img src="11.png">
        <input type="radio" name="c_11" value="0" checked="checked" />不用
        <input type="radio" name="c_11" value="1" />手牌
        <input type="radio" name="c_11" value="2" />公牌
        <img src="12.png">
        <input type="radio" name="c_12" value="0" checked="checked" />不用
        <input type="radio" name="c_12" value="1" />手牌
        <input type="radio" name="c_12" value="2" />公牌
    </div>


    <div> 
        <img src="13.png">
        <input type="radio" name="c_13" value="0" checked="checked" />不用
        <input type="radio" name="c_13" value="1" />手牌
        <input type="radio" name="c_13" value="2" />公牌
        <img src="14.png">
        <input type="radio" name="c_14" value="0" checked="checked" />不用
        <input type="radio" name="c_14" value="1" />手牌
        <input type="radio" name="c_14" value="2" />公牌
        <img src="15.png">
        <input type="radio" name="c_15" value="0" checked="checked" />不用
        <input type="radio" name="c_15" value="1" />手牌
        <input type="radio" name="c_15" value="2" />公牌
        <img src="16.png">
        <input type="radio" name="c_16" value="0" checked="checked" />不用
        <input type="radio" name="c_16" value="1" />手牌
        <input type="radio" name="c_16" value="2" />公牌
    </div>


    <div> 
        <img src="17.png">
        <input type="radio" name="c_17" value="0" checked="checked" />不用
        <input type="radio" name="c_17" value="1" />手牌
        <input type="radio" name="c_17" value="2" />公牌
        <img src="18.png">
        <input type="radio" name="c_18" value="0" checked="checked" />不用
        <input type="radio" name="c_18" value="1" />手牌
        <input type="radio" name="c_18" value="2" />公牌
        <img src="19.png">
        <input type="radio" name="c_19" value="0" checked="checked" />不用
        <input type="radio" name="c_19" value="1" />手牌
        <input type="radio" name="c_19" value="2" />公牌
        <img src="20.png">
        <input type="radio" name="c_20" value="0" checked="checked" />不用
        <input type="radio" name="c_20" value="1" />手牌
        <input type="radio" name="c_20" value="2" />公牌
    </div>


    <div> 
        <img src="21.png">
        <input type="radio" name="c_21" value="0" checked="checked" />不用
        <input type="radio" name="c_21" value="1" />手牌
        <input type="radio" name="c_21" value="2" />公牌
        <img src="22.png">
        <input type="radio" name="c_22" value="0" checked="checked" />不用
        <input type="radio" name="c_22" value="1" />手牌
        <input type="radio" name="c_22" value="2" />公牌
        <img src="23.png">
        <input type="radio" name="c_23" value="0" checked="checked" />不用
        <input type="radio" name="c_23" value="1" />手牌
        <input type="radio" name="c_23" value="2" />公牌
        <img src="24.png">
        <input type="radio" name="c_24" value="0" checked="checked" />不用
        <input type="radio" name="c_24" value="1" />手牌
        <input type="radio" name="c_24" value="2" />公牌
    </div>


    <div> 
        <img src="25.png">
        <input type="radio" name="c_25" value="0" checked="checked" />不用
        <input type="radio" name="c_25" value="1" />手牌
        <input type="radio" name="c_25" value="2" />公牌
        <img src="26.png">
        <input type="radio" name="c_26" value="0" checked="checked" />不用
        <input type="radio" name="c_26" value="1" />手牌
        <input type="radio" name="c_26" value="2" />公牌
        <img src="27.png">
        <input type="radio" name="c_27" value="0" checked="checked" />不用
        <input type="radio" name="c_27" value="1" />手牌
        <input type="radio" name="c_27" value="2" />公牌
        <img src="28.png">
        <input type="radio" name="c_28" value="0" checked="checked" />不用
        <input type="radio" name="c_28" value="1" />手牌
        <input type="radio" name="c_28" value="2" />公牌
    </div>


    <div> 
        <img src="29.png">
        <input type="radio" name="c_29" value="0" checked="checked" />不用
        <input type="radio" name="c_29" value="1" />手牌
        <input type="radio" name="c_29" value="2" />公牌
        <img src="30.png">
        <input type="radio" name="c_30" value="0" checked="checked" />不用
        <input type="radio" name="c_30" value="1" />手牌
        <input type="radio" name="c_30" value="2" />公牌
        <img src="31.png">
        <input type="radio" name="c_31" value="0" checked="checked" />不用
        <input type="radio" name="c_31" value="1" />手牌
        <input type="radio" name="c_31" value="2" />公牌
        <img src="32.png">
        <input type="radio" name="c_32" value="0" checked="checked" />不用
        <input type="radio" name="c_32" value="1" />手牌
        <input type="radio" name="c_32" value="2" />公牌
    </div>


    <div> 
        <img src="33.png">
        <input type="radio" name="c_33" value="0" checked="checked" />不用
        <input type="radio" name="c_33" value="1" />手牌
        <input type="radio" name="c_33" value="2" />公牌
        <img src="34.png">
        <input type="radio" name="c_34" value="0" checked="checked" />不用
        <input type="radio" name="c_34" value="1" />手牌
        <input type="radio" name="c_34" value="2" />公牌
        <img src="35.png">
        <input type="radio" name="c_35" value="0" checked="checked" />不用
        <input type="radio" name="c_35" value="1" />手牌
        <input type="radio" name="c_35" value="2" />公牌
        <img src="36.png">
        <input type="radio" name="c_36" value="0" checked="checked" />不用
        <input type="radio" name="c_36" value="1" />手牌
        <input type="radio" name="c_36" value="2" />公牌
    </div>


    <div> 
        <img src="37.png">
        <input type="radio" name="c_37" value="0" checked="checked" />不用
        <input type="radio" name="c_37" value="1" />手牌
        <input type="radio" name="c_37" value="2" />公牌
        <img src="38.png">
        <input type="radio" name="c_38" value="0" checked="checked" />不用
        <input type="radio" name="c_38" value="1" />手牌
        <input type="radio" name="c_38" value="2" />公牌
        <img src="39.png">
        <input type="radio" name="c_39" value="0" checked="checked" />不用
        <input type="radio" name="c_39" value="1" />手牌
        <input type="radio" name="c_39" value="2" />公牌
        <img src="40.png">
        <input type="radio" name="c_40" value="0" checked="checked" />不用
        <input type="radio" name="c_40" value="1" />手牌
        <input type="radio" name="c_40" value="2" />公牌
    </div>


    <div> 
        <img src="41.png">
        <input type="radio" name="c_41" value="0" checked="checked" />不用
        <input type="radio" name="c_41" value="1" />手牌
        <input type="radio" name="c_41" value="2" />公牌
        <img src="42.png">
        <input type="radio" name="c_42" value="0" checked="checked" />不用
        <input type="radio" name="c_42" value="1" />手牌
        <input type="radio" name="c_42" value="2" />公牌
        <img src="43.png">
        <input type="radio" name="c_43" value="0" checked="checked" />不用
        <input type="radio" name="c_43" value="1" />手牌
        <input type="radio" name="c_43" value="2" />公牌
        <img src="44.png">
        <input type="radio" name="c_44" value="0" checked="checked" />不用
        <input type="radio" name="c_44" value="1" />手牌
        <input type="radio" name="c_44" value="2" />公牌
    </div>


    <div> 
        <img src="45.png">
        <input type="radio" name="c_45" value="0" checked="checked" />不用
        <input type="radio" name="c_45" value="1" />手牌
        <input type="radio" name="c_45" value="2" />公牌
        <img src="46.png">
        <input type="radio" name="c_46" value="0" checked="checked" />不用
        <input type="radio" name="c_46" value="1" />手牌
        <input type="radio" name="c_46" value="2" />公牌
        <img src="47.png">
        <input type="radio" name="c_47" value="0" checked="checked" />不用
        <input type="radio" name="c_47" value="1" />手牌
        <input type="radio" name="c_47" value="2" />公牌
        <img src="48.png">
        <input type="radio" name="c_48" value="0" checked="checked" />不用
        <input type="radio" name="c_48" value="1" />手牌
        <input type="radio" name="c_48" value="2" />公牌
    </div>


    <div> 
        <img src="49.png">
        <input type="radio" name="c_49" value="0" checked="checked" />不用
        <input type="radio" name="c_49" value="1" />手牌
        <input type="radio" name="c_49" value="2" />公牌
        <img src="50.png">
        <input type="radio" name="c_50" value="0" checked="checked" />不用
        <input type="radio" name="c_50" value="1" />手牌
        <input type="radio" name="c_50" value="2" />公牌
        <img src="51.png">
        <input type="radio" name="c_51" value="0" checked="checked" />不用
        <input type="radio" name="c_51" value="1" />手牌
        <input type="radio" name="c_51" value="2" />公牌
        <img src="52.png">
        <input type="radio" name="c_52" value="0" checked="checked" />不用
        <input type="radio" name="c_52" value="1" />手牌
        <input type="radio" name="c_52" value="2" />公牌
    </div>


    <div> 
        <img src="53.png">
        <input type="radio" name="c_53" value="0" checked="checked" />不用
        <input type="radio" name="c_53" value="1" />手牌
        <input type="radio" name="c_53" value="2" />公牌
        <img src="54.png">
        <input type="radio" name="c_54" value="0" checked="checked" />不用
        <input type="radio" name="c_54" value="1" />手牌
        <input type="radio" name="c_54" value="2" />公牌
        <img src="55.png">
        <input type="radio" name="c_55" value="0" checked="checked" />不用
        <input type="radio" name="c_55" value="1" />手牌
        <input type="radio" name="c_55" value="2" />公牌
        <img src="56.png">
        <input type="radio" name="c_56" value="0" checked="checked" />不用
        <input type="radio" name="c_56" value="1" />手牌
        <input type="radio" name="c_56" value="2" />公牌
    </div>


    <div> 
        <img src="57.png">
        <input type="radio" name="c_57" value="0" checked="checked" />不用
        <input type="radio" name="c_57" value="1" />手牌
        <input type="radio" name="c_57" value="2" />公牌
        <img src="58.png">
        <input type="radio" name="c_58" value="0" checked="checked" />不用
        <input type="radio" name="c_58" value="1" />手牌
        <input type="radio" name="c_58" value="2" />公牌
        <img src="59.png">
        <input type="radio" name="c_59" value="0" checked="checked" />不用
        <input type="radio" name="c_59" value="1" />手牌
        <input type="radio" name="c_59" value="2" />公牌
        <img src="60.png">
        <input type="radio" name="c_60" value="0" checked="checked" />不用
        <input type="radio" name="c_60" value="1" />手牌
        <input type="radio" name="c_60" value="2" />公牌
    </div>

	<input type="submit" value="计算概率">
</form>

<div>====== 您输牌的概率 ======</div>
<div>
	{% if odd %}
		<p>{{odd}}</p>
	{% else %}
		<p></p>
	{% endif %}
</div>

<form action="/reset" method="POST">
	<input type="submit" value="Reset Value">
</form>

</body>
</html>